.category-listing {
  margin-bottom: 9rem;
}
.category {
  &-item {
    overflow: hidden;
    & h3 {
      text-shadow: 0 0 25px rgba(0, 0, 0, 0.712);
    }
    & img {
      width: 100%;
      object-fit: cover;
    }
    &:hover {
      .category-hovered-box {
        transform: translateY(0)
      }
    }
  }
  &-hovered-box {
    @include transition;
    background-color: rgba($purple-400, .8);
    transform: translateY(85%);
    @include media-breakpoint-up(xxl) {
      transform: translateY(80%);
    }
    @media (min-width: 1600px) {
      transform: translateY(77%);
    }
  }
}