.contact-form {
  position: relative;
  background-size: cover;
  @include media-breakpoint-up (lg) {
    padding: 10rem 0;
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba($black, .6);
    z-index: 1;
  }
  &-form {
    position: relative;
    z-index: 3;
    padding: 4rem 0;
    @include media-breakpoint-up (lg) {
      padding: 5rem 9rem 5rem 0;
    }
  }
  &-details {
    background-size: cover;
    padding: 4rem 0 0 0;
    @include media-breakpoint-up (lg) {
      padding: 10rem 0 10rem 2rem;
    }
    @include media-breakpoint-up (xl) {
      padding-left:10rem;
    }
  }
  &-item {
    font-size: 2.4rem;
    margin-top: 6rem;
    transition: .3s ease;
    @include media-breakpoint-up (lg) {
      font-size: 3.4rem;
    }
    & a {
      color: $white;
    }
    &:hover {
      & svg path {
        fill: $primary;
      }
      & a {
        color: $primary;
      }
    }
    & svg {
      & path {
        transition: .3s ease;
      }
      margin-right: 2.7rem;
    }
    &:last-child {
      margin-top: 4.5rem;
    }
  }
  &-content, &-details {
    position: relative;
    z-index: 3;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgba($black, .8);
      z-index: -1;
    }
  }
}
form.invalid,
form.failed  {
  .wpcf7-response-output {
    position: relative;
    top: 25px;
    color: red;
    margin-bottom: 0;
    margin-top: 0;
    border: none;
  }
}

.contact-details {
  background-size: cover;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba($black, .6);
    z-index: 1;
  }
}