.features {
  &-item {
    height: 250px;
    @include media-breakpoint-up(md) {
      height: 300px;
    }
  }
  &-title {
    font-size: 2rem;
    position: relative;
    & span {
      color: $primary;
    }
    &::before {
      content: '';
      position: absolute;
      bottom: -10px;
      left: 50%;
      transform: translateX(-50%);
      width: 50%;
      height: 1px;
      background-color: $primary;
    }
  }
}