.last-post {
  margin-bottom: 10rem;
  &-date {
    font-size: 1.28rem;
    font-size: $secondaryFont;
  }
  &-intro-text {
    line-height: 2rem;
  }
  &-svg {
    position: absolute;
    content: '';
    top: 50px;
    right: 60px;
}
  &-content {
    position: relative;
    padding-top: 10rem;
    &::before {
      position: absolute;
      content: '';
      top: 70px;
      right: 140px;
      width: 500px;
      height: 2px;
      background-color: #DDE0EB;
      z-index: 3;
    }
  }
}