.why-us {
  margin-bottom: 10rem;
  & .double-heading {
    margin-bottom: 5rem;
    @include media-breakpoint-up (lg) {
      margin-bottom: 10rem;
    }
  }
  &-item {
    margin-bottom: 3rem;
    @include media-breakpoint-up (lg) {
      margin-bottom: 0;
    }
    & img {
      display: block;
      width: 60px;
      height: 60px;
      margin-bottom: 1.3rem;
    }
  }
  & h3 {
    color: $black;
    & span {
      color: $primary;
    }
  }
  &-under-section {
    background-color: rgba(235, 231, 220, .8);
    width: 100%;
    @include media-breakpoint-up (xl) {
      margin-right: 10rem;
    }
    @include media-breakpoint-up (xl) {
      width: auto;
    }
  }
}