.slick {
  &-arrow {
    position: absolute;
    background-color: transparent;
    outline: none;
    border: none;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 3123;
    &:hover {
      & svg path {
        fill: $brown-800;
      }
    }
    &:focus {
      outline: none;
    }
    & svg {
      width: 50px;
      height: 50%;
      & path {
        transition: .3s ease;
      }
    }
    &.slick-prev {
      transform: rotate(90deg);
      left: -75px;
    }
    &.slick-next {
      transform: rotate(-90deg);
      right: -75px;
    }
  }
}