.opinion-slider {
  &-svg {
    position: absolute;
    top: 79px;
    right: 515px;
    z-index: 3;
    @media (min-width: 1600px) {
      top: 99px;
      right: 619px;
    }
  }
  &-inner-wrapper {
    width: 50vw;
    left: 0;
    transform: translateX(-19%);
    height: 388px;
    background-position-x: -200px;
    @media (min-width: 1600px) {
      transform: translateX(-41%);
    }
    &::before {
      position: absolute;
      content: '';
      top: 103px;
      right: 37px;
      width: 473px;
      height: 2px;
      background-color: #DDE0EB;
      z-index: 3;
      @media (min-width: 1600px) {
        top: 123px;
        right: 116px;
      }
    }
  }
  &-item {
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 101%;
      background-color: rgba($black, .7);
      z-index: 1;
    }
  }
  &-text-wrapper {
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    @media (min-width: 1600px) {
      left: 10%;
    }
    & span {
      width: 300px;
      line-height: 2rem;
      font-family: $secondaryFont;
      @media (min-width: 1600px) {
        width: 570px;
      }
    }
    & img {
      width: 140px;
      height: 140px;
      border-radius: 50%;
    }
  }
}
.opinions-pagination-wrapper {
  width: 625px;
  position: absolute;
  left: 50%;
  bottom: 50px;
  padding-left: 7rem;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 4;
  @media (min-width: 1600px) {
    width: 1194px;
  }
}