#realizations {

  &.nav.nav-tabs {
    justify-content: space-between;
    @include media-breakpoint-down(lg) {
      border-bottom: none;
    }
    @include media-breakpoint-up(lg) {
      flex-wrap: nowrap;
    }
    & button, a {
      padding: .5rem 2rem;
      background-color: $primary;
      color: white;
      font-weight: bold;
      transition: .3s ease;
      border: none;
      &.active {
        background-color: $brown-800;
      }
    }
    .nav-item.tab-item {
      width: 100%;
      @include media-breakpoint-up(md) {
        width: 48%;
      }
      @include media-breakpoint-up(lg) {
        width: auto;
      }
    }
    & li:not(:last-child) {
      @include media-breakpoint-up(lg) {
        margin-right: 1rem;
      }
    }
  }
}
article.realizacje {
  height: 300px;
}
.tab-content {
  padding-top: 5rem;
}