.contact-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 312312;
  & h4 {
    font-weight: bold;
    color: $white;
  }
  & * {
    color: $white;
    font-size: 3rem;
    line-height: 4rem;
    
  }
}
.contact-btn {
  z-index: 123123;
}