.cta {
  position: relative;
  padding: 4rem 0;
  background-size: cover;
  background-position: center;
  @include media-breakpoint-up(lg) {
    padding: 8rem 0;
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba($black, .6);
    z-index: 1;
  }
  & .container {
    position: relative;
    z-index: 3;
  }
  & h2 {
    font-size: 4rem;
    text-transform: uppercase;
    text-align: center;
    color: $brown-800;
    margin-bottom: 5rem;
  }
  & p {
    line-height: 2.5rem;
    color: $white;
    margin-bottom: 5rem;
    @include media-breakpoint-up(lg) {
      line-height: 3rem;
    }
  }
}