html, body {
  overflow-x: hidden;
}
.screen-reader-text {
  display: none;
}

.custom-logo-link {
  & img {
    width: 200px;
    @include media-breakpoint-up(md) {
      width: auto;
      height: 102px;
    }
  }
}