.opinion-slider {
  &-svg {
    position: absolute;
    top: 79px;
    right: 515px;
    z-index: 3;
    @include media-breakpoint-only(md) {
      top: 30px;
    }
    @media (min-width: 1600px) {
      top: 99px;
      right: 619px;
    }
  }
  &-inner-wrapper {
    position: relative;
    height: 290px;
    background-position-x: -200px;
    transform: translateX(0);
    @include media-breakpoint-up (lg) {
      height: 388px;
      width: 50vw;
      left: 0;
      transform: translateX(-19%);
    }
    @include media-breakpoint-up(xl) {
      transform: translateX(-24%);
    }
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgba($black, .7);
      z-index: -1;
    }
    @media (min-width: 1500px) {
      transform: translateX(-26%);
    }
    @media (min-width: 1600px) {
      transform: translateX(-41%);
    }
    &::before {
      position: absolute;
      content: '';
      top: 53px;
      right: 17px;
      width: 473px;
      height: 2px;
      background-color: #DDE0EB;
      z-index: 3;
      @include media-breakpoint-up (lg) {
        right: 37px;
        top: 103px;
      }
      @media (min-width: 1600px) {
        top: 123px;
        right: 116px;
      }
    }
  }
  &-text-wrapper {
    top: 40%;
    transform: translateY(-50%);
    z-index: 2;
    bottom: -3.75rem;
    left: 5%;
    right: 5%;
    @include media-breakpoint-up (lg) {
      top: 50%;
      bottom: 1.75rem;
      left: 15%;
      right: 15%;
    }
    @media (min-width: 1600px) {
      left: 10%;
    }
    & span {
      line-height: 2rem;
      font-family: $secondaryFont;
      @include media-breakpoint-up (lg) {
        width: 300px;
      }
      @media (min-width: 1600px) {
        width: 570px;
      }
    }
    & img {
      width: 140px;
      height: 140px;
      border-radius: 50%;
    }
  }
}
.opinions-pagination-wrapper {
  display: none;
  @include media-breakpoint-up (lg) {
    display: block;
    position: absolute;
    left: 50%;
    bottom: 50px;
    padding-left: 7rem;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 4;
  }
  @media (min-width: 1600px) {
    width: 1194px;
  }
}
body.home #opinionSlider {
  margin-bottom: 4rem;
  @include media-breakpoint-up (lg) {
    margin-bottom: 9rem;
  }
  @include media-breakpoint-up (xl) {
    margin-bottom: 13.2rem;
  }
}